$background-color: #CDCDCD;
$font-color: #FFFFFF;
$tealish: #99D3DF;
$blue: #88BBD6;
$dark-gray: #CDCDCD;
$pink: #FA7C92;

body {
	padding: 0px;
	background-color: $background-color;
	color: #FFFFFF;
}