<div class="feed-users">
	<h2 class="feed-heading text-center">All Users</h2>
	<ul class="user-list">
		<% @users.each do |user| %>
			<a href="/users/<%= user.id %>"><%= user.name %></a>
		<% end %>
	</ul>
</div>

<div class="feed-posts">
	<h2 class="feed-heading text-center">Most Recent Poetry</h2>
	<% @posts.each do |post| %>
		<div class="user-post-frame col-sm-4">
			<div class="user-post">	
				<h3 class="post-title"><%= post.title %></h3>
				<p class="post-content"><%= post.content %></p>
			</div>
		</div>
	<% end %>

</div>
