
<h2 class="text-center pink">Welcome</h2>

<h4 class="text-center">Short on time? Like to rhyme?</h4>

<h3 class="blue">Existing User Sign In</h3>
<form method="POST" action="/login">
	<label for="email">Email: </label>
	<input type="text" name="email">	
	<label for="password">Password: </label>
	<input type="text" name="password">
	<input type="submit">
</form>

<h3><a href="/users/new" class="text-left pink">New User Sign-up Here</a></h3>