<!DOCTYPE html>
<html>
<head>
	<title>Micro Poems</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/scripts.js"></script>
</head>
<body>
	<h1>Micro Poems</h1>
	<ul>
		<li><a href="/posts">Explore</a></li>
	</ul>
	<div>
	<%= yield %>
	</div>
</body>
</html>